<html>
  <head>
    <title>Hideout Helper</title>
  </head>


  <body>

    <div *ngIf="true">
      <app-air-filtering-unit></app-air-filtering-unit>
      <app-bitcoin-farm></app-bitcoin-farm>
      <app-booze-generator></app-booze-generator>
      <app-generator></app-generator>
      <app-heating></app-heating>
      <app-illumination></app-illumination>
      <app-intelligence></app-intelligence>
      <app-lavatory></app-lavatory>
      <app-library></app-library>
      <app-medstation></app-medstation>
      <app-nutrition-unit></app-nutrition-unit>
      <app-rest-space></app-rest-space>
      <app-security></app-security>
      <app-shooting-range></app-shooting-range>
      <app-solar-power></app-solar-power>
      <app-stash></app-stash>
      <app-vents></app-vents>
      <app-water-collector></app-water-collector>
      <app-workbench></app-workbench>
    </div>

  </body>
</html>